<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Post Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
<h1 style="font-size: 7em; color: blue; font-family: 'Playfair Display', serif;" >Welcome to the Posty App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <main style="position: relative;">
    </main>
</div>

<img src="/assets/kitten1.jpg" class="rounded float-left" alt="...">
<img src="/assets/kitten2.jpg" class="rounded float-right" alt="...">


<style media="screen">
      nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: pink;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid;
        /* z-index: 1; */
      }
      nav a {
        text-align: center;
        color: white;
      }
      img {
        width: 28vw;
        align: center;
      }




<% end %>